{% extends 'core/base.html' %}

{% block content %}
<div class="container">

	{% if request.GET.status == "updated" %}
		<p class="alert alert-success">Mise à jour réussie!</p>
	{% elif request.GET.status == "created" %}
		<p class="alert alert-success">Création réussie!</p>
	{% endif %}

	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
		<h1 class="h2">Mes histoires</h1>
		<div class="actions">
			<a href="" class="btn btn-primary btn-sm">Créer</a>
		</div>
	</div>

    {% if stories %}
        
        <div class="card-container">
            {% for story in stories %}
                <div class="card text-white bg-{% if story.is_active %}secondary{% else %}secondary{% endif %}">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        {{ story.title }}
                        {% if story.is_active %}
                            <span class="badge badge-success">publiée</span>
                        {% else %}
                            <span class="badge badge-warning">non-publiée</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <a class="card-link" href="{% url 'story/edit' story.id %}">Modifier</a>
                        {% if not story.is_active %}
                            <a class="card-link" href="{% url 'story/activate' story.id %}">Publier</a>
                        {% endif %}
                      </div>
                      <div class="card-footer text-muted">
                        {{ story.page_set.all.count }} page(s)
                      </div>
                </div>
            {% endfor %}
        </div>

	{% else %}
		<div class="alert alert-warning" role="alert">
			Vous n'avez aucune histoire pour le moment. Créer une <a href="{% url 'story/add' %}">première histoire</a>.
		</div>
	{% endif %}

</div>

{% endblock %}